@import url('https://fonts.googleapis.com/css?family=Spirax');

h1, h2 {
    color: red;
    text-decoration: underline;
}

body {
    background-color: #8e949a;
    background-image: url(../img/tree.png);
    background-size: cover;
    font-family: 'Spirax', cursive;
}

.style_list {
    list-style: square;
}

.table_border {
    border: 1px;
    border-color: black;
}