body {
    background-color: aqua;
}

.row {
    margin-right: 80px;
    margin-left: 80px;
    margin-bottom: 20px;
}

.col-xs-4 {
    background-color: lightgrey;
    border: 1px solid black;
    text-align: center;
}

#map-display {
    margin-left: 80px;
    margin-right: 80px;
    margin-bottom: 80px;
}
